﻿body{
    margin:0;
}
li:link {
    color: #0000d0; 
    padding: 2px;
}
li:hover {
    background: #786b59;
    color: #ffe;
}
.wrapper{
    width:1280px;
    height:1025px;
    position:relative;
    margin:0 auto;  
    top:50px;
    font-size:60px;
}
.text1 {
    color: black;
    text-decoration: none;
}
span {
    color: #48D1CC;
}
.menu{
    width:1280px;
    position:relative;
    margin:0 auto;
    background-color:grey;
    height:90px;
    top:-23px;
}
.li1 {
    display: inline-block;
    padding: 19px;
    color: white;
    font-size: 27px;
    position: relative;
    top: 4px;
    left: 115px;
    text-decoration: none;
    line-height: 35px;
}
.menu1 {
    border-left:1px solid black;
    border-right:1px solid white;
    border-top:1px solid black;
    border-bottom:1px solid black;
    width:27%;
    height:371px;
    margin:0;
    position:relative;
    top:20px;
    float:left;
}
.li2 {
    display: inline-block;
    color: black;
    position: relative;
    top: -56px;
    font-size: 67%;
    color: darkgray;
}
.image {
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    float: right;
    width: 68%;
    position: relative;
    top:20px;
    height:500px;
}
img {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.image img {
    -webkit-transition: all 0.3s ease-out;
}
.image img:hover {
    -webkit-transform: scale(1.1);
 }
.text{
    font-size:18px;
    text-align:left;
    position:relative;
    left:37px;
    top:20px;
}
.nav{
    width:1280px;
    margin:0 auto;
    position:relative;
    top:100px;
    height:100px;
}

nav:before {
    content:;
    display:block;
    height:90px;
    width:1280px;
    background:black;
    position:absolute;
    left:0;
    z-index:-1;
}
.ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
    background:silver;
}
.li3{
    float:left;
    color:black;
    display:block;
    height:50px;
    padding:0 30px;
    text-transform:uppercase;
    line-height:50px;
}
.li4 {
    line-height: 50px;
    text-align:right;
}
.li5 {
    float: left;
    line-height: 48px;
    text-decoration: underline;
    font-size: 21px;
    color: #20B2AA;
}
