﻿body {
    height: 944px;
    margin-left: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 300px;
}
.style1 {
    text-align: center;
    color: darkcyan;
    font-family: Verdana;
    width: 1481px;
    margin-left: 1px;
    text-align: center;
}

.style2 {
    text-align: center;
    font-family: Verdana;
    width: 1482px;
}

.style3 {
    text-align: center;
    font-family: Verdana;
    font-weight: 900;
    width: 1482px;
}
.style4 {
    width: 1485px;
    height: 861px;
}
.style5 {
    text-align: right;
    width: 1389px;
    font-size: medium;
    font-family: Verdana;
}
.style6 {
    width: 297px;
    border-collapse: collapse;
    height: 33px;
    border: 1px solid #FFFFFF;
    margin-left: 607px;
    background-color: #00FFFF;
    border-radius: 10px;
}
.style7 {
    width: 863px;
}
.text-style {
    text-align: center;
    color:white;
}
