﻿
.all {
    font-family: Verdana;
    background: url(ranasawalha.png) no-repeat;
    background-size: 100%;
    height: 100%;
}
.image_fon {
    background-color: rgba(0, 0, 0, 0.41);
    height: 50px;
    background-size: 100%;
}
.image_fon1 {
    width: 1366px;
    height: 54px;
    margin:0 auto;
}
* {
    padding: 0;
    margin: 0;
    border:0;
}
.text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    top: 15px;
    word-wrap: break-word;
    width: 100px;
  
}
.text:hover {
        color: #3cb878;
}
.span:hover {
    color: #3cb878;
}
.text1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    position: relative;
    left: 50px;
    top: 15px;
    word-wrap: break-word;
    width: 100px;
}
.float {
    width:50%;
    float:left;
    height:50px;
}
.float1 {
    width: 15%;
    float: right;
    height: 35px;
    position: relative;
    top: 14px;
}
.float2 {
    width: 18%;
    float: right;
    height: 35px;
    position:relative;
    top:14px;
   text-align:center;
}
.line{
    border-left: 1px solid #ccc; 
    margin-right: 20px;
    padding-left: 10px; 
    width: 1px;
    height: 19px;
    position:relative;
    left:40px;
    opacity: 0.1;
    display:inline-block;
}
.text2 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.samp {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration:none;
}
.samp:hover {
        color: #3cb878;
        text-decoration: underline;
    }
.p {
    padding: 5px;
    width: 20px;
    height: 20px;
}
.container2 {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    margin: 50px  auto;
    background-color: #ffffff;
    border-radius: 10px; 
}
.header {
    padding: 30px 0px 0px 0px;
    margin:0 auto;
    width:73%;
}   
.textblock {
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    float:left;
    width:200px;
}
.box {
    width: 18px;
    height: 18px;
    border: 9px;
    background-color: #3cb878;
    margin-right: 20px;
    padding-left: 10px;
    float: left;
    display:inline-block;
    position:relative;
    top:32px;
}
.samp2 {
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    float: right;
}
.samp2:hover {
    text-decoration: underline;
}
.button {
    border-radius: 3px;
    background-color: #305db8;
    width: 157px;
    height: 46px;
    float: left;
    position: relative;
    top: 10px;
    display: inline-block;
    text-decoration: none;
    user-select: none;
}
    .button:active {
        background: #264b96;
    }
.button2 {
    border-radius: 3px;
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    float: right;
    position: relative;
    top: 10px;
    display: inline-block;
    text-decoration: none;
    user-select: none;
}   

    .button2:active {
        background: #c3412c;
    }
.but-text1 {
    color: #ffffff;
    line-height: 21px;
    text-align: left;
    float: left;
    width: 20%;
    font-size: 23px;
    font-family: Arial;
    font-weight: 550;
    padding-left: 24px;
    padding-top: 12px;
}
.but-text2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: right;
    width: 55%;
    padding-top: 11px;

}
.but-text3 {
    color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    text-align: left;
    float: left;
    width: 20%;
    font-family: Futura;
    font-weight: 550;
    padding-left: 24px;
    padding-top: 12px;
}
.but-text4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    float: right;
    width: 55%;
    padding-top: 11px;
}
.hr {
    text-align: center;
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 103px;
}
.hr > span {
    position: relative;
    padding: 0 15px;
    display: inline-block;
}
  .hr > span:before {
        content: "";
        width: 135px;
        border-top: 1px solid;
        position: absolute;
        right: 95%;
        top: 65%;
        margin-top: -2px;
    }
.hr > span:after {
    content: "";
    width: 135px;
    border-top: 1px solid;
    position: absolute;
    left: 95%;
    top: 65%;
    margin-top: -2px;
}
.content {
    padding: 13px 0px 0px 0px;
    margin: 0 auto;
    width: 73%;
}
.input {
    border: 1px solid rgb(185,185,185);
    border-top-color: rgb(160,160,160);
    cursor: text;
    display: inline-block;
    font: 18px arial,sans-serif;
    line-height: 36px;
    max-width: 672px;
    position: relative;
    width: 322px;
    height: 46px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 5 auto;
}
    .input:hover {
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    }
.input_text {
    width: 100%;
    height: 100%;
    position:relative;
}
text5 {
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
input:focus {
    outline: none;
}
.boxtext {
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    position:relative;
    top:17px; 
}
.boxtext2 {
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration:none;
}
.login_button {
    background: #4CAF50;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 23px;
    width: 322px;
    height: 46px;
    border-radius: 3px;
}
