.body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #141414;
    overflow: hidden;
    perspective: 800px;
    font-family: 'Fjalla One', sans-serif;
}

.main {
    width: 700px;
    text-align: justify;
    font-size: 50px;
    margin-top: 20px;
    color: yellow;
    line-height: 1.5;
    animation-name: starwars;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes starwars {
    from {
        transform: rotateX(60deg) translateY(100%);
        -webkit-transform: rotateX(60deg) translateY(100%);
        -moz-transform: rotateX(60deg) translateY(100%);
        -ms-transform: rotateX(60deg) translateY(100%);
        -o-transform: rotateX(60deg) translateY(100%);
    }
    to {
        transform: rotateX(60deg) translateY(-180%);
        -webkit-transform: rotateX(60deg) translateY(-180%);
        -moz-transform: rotateX(60deg) translateY(-180%);
        -ms-transform: rotateX(60deg) translateY(-180%);
        -o-transform: rotateX(60deg) translateY(-180%);
    }
}

.main-header {
    text-align: center;
}

.header {
    text-align: center;
}