@font-face {
    font-family: 'Verdana';
    src: url('../fonts/hinted-Verdana.eot');
    src: local('Verdana'),
        url('../fonts/hinted-Verdana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Verdana.woff2') format('woff2'),
        url('../fonts/hinted-Verdana.woff') format('woff'),
        url('../fonts/hinted-Verdana.ttf') format('truetype'),
        url('../fonts/hinted-Verdana.svg#Verdana') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/hinted-Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'),
        url('../fonts/hinted-Verdana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Verdana-Bold.woff2') format('woff2'),
        url('../fonts/hinted-Verdana-Bold.woff') format('woff'),
        url('../fonts/hinted-Verdana-Bold.ttf') format('truetype'),
        url('../fonts/hinted-Verdana-Bold.svg#Verdana-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}