.body {
    font-family: 'Verdana';
    color: #FFF;
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    margin-top: 49px;
    margin-bottom: 48px;
}

.container {
    width: 100%;
    max-width: 1064px;
    margin: 0 auto;
}

.logo-contacts-wrapper {
    display: flex;
    justify-content: space-between;
}

.logo_link {
    text-decoration: none;
    color: #FFF;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.logo_link:before {
    content: url('../image/logo.png');
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

.logo_link:after {
    content: url('../image/logo-hover.png');
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.logo_link:hover {
    color: #f26522;
}

.logo_link:hover:before {
    opacity: 0;
}

.logo_link:hover:after {
    opacity: 1;
}

.logo_link_milan {
    padding-left: 61px;
    font-size: 29px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo_link_holidays {
    padding-left: 61px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts {
    text-align: right;
    margin-top: 8px;
}

.contacts_mail {
    margin-bottom: 5px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 29%;
    min-width: 250px;
    margin-bottom: 58px;
}

.card-link {
    text-decoration: none;
    color: #ffffff;
}

.card-link:hover .card_more-info {
    bottom: 0;
}

.card-link:hover .card-title {
    color: #f26522;
}

.card_image-block {
    position: relative;
    overflow: hidden;
    box-shadow: 0 17px 24px #000000;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    padding: 2px 2px 0;
}

.card-image {
    width: 100%;
}

.card_more-info {
    height: 63px;
    background: #f26522;
    padding: 16px 18px 17px 21px;
    width: 100%;
    position: absolute;
    bottom: -63px;
    left: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_more-info_from {
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 5px;
    width: 100%;
}

.card_more-info_price {
    font-size: 20px;
    font-weight: 400;
}

.card_more-info_more {
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    text-align: right;
}

.card_more-info_more:after {
    content: ">";
    padding-left: 15px;
    color: #f9b290;
}

.card-title {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 22px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
}