.header {
  background: url(../img/frontend_html_css_homework_homework9_img_bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 145px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 7px;
  margin-bottom: 16px;
}

.header-paragraph {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  margin-left: 7px;
  margin-bottom: 28px;
}

.styled-heading {
  padding: 48px 56px 41px 0px;
  color: #fff;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.styled-heading-word {
  color: #f1ad1d;
  background-color: #fff;
  padding: 42px 34px 35px 29px;
  margin-right: 5px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.height370 {
  min-height: 370px;
}

.height380 {
  min-height: 380px;
}

.height440 {
  min-height: 440px;
}

.height470 {
  min-height: 470px;
}

.height400 {
  min-height: 400px;
}

.height485 {
  min-height: 485px;
}

.section-content {
  text-align: center;
}

.section-content:after {
  content: '';
  height: 3px;
  width: 60px;
  background-color: #f1ad1d;
  display: block;
  position: relative;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.section-content-last {
  text-align: center;
}

.section-header {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.section-description {
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 35px;
}

.black-header {
  color: #333333;
}

.black-description {
  color: #4d4943;
}

.white-header {
  color: #ffffff;
}

.white-description {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}

.clock-section {
  background: url(../img/frontend_html_css_homework_homework9_img_bg2.jpg);
}

.tree-section {
  background: url(../img/frontend_html_css_homework_homework9_img_bg3.jpg);
}

.lake-section {
  background: url(../img/frontend_html_css_homework_homework9_img_bg4.jpg);
}

.parallax {
  background-size: cover;
  background-attachment: fixed;
}

.yellow-text {
  color: #f1ad1d;
}

.text-link {
  text-decoration: none;
}

.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}

.image {
  margin: 0 30px;
}