$primary-color: #8d81ac;
$secondary-color: #635c73;


.wrap-box {
  margin: 0 auto;
  max-width: 1200px;
}
.common-padding {
  padding: 0 10px;
}

.features-section {
  background-color: #f4f4f4;
  position: relative;

  .wrap-box {
    display: flex;

    .feature-box {
      .feature-box__title {
        font-weight: bold;
        color: $primary-color;
        margin: 0;
        padding: 0;
      }

      .feature-box__list {
        margin: 0;
        padding: 0;
        list-style: none;

        .feature-box__list__item {
          display: flex;
          margin-bottom: 30px;

          .feature-box__list__item__icon {
            display: flex;
            justify-content: center;
            align-items: start;
          }
          .feature-box__list__item__info {

            .feature-box__list__item__info__title {
              margin: 0px;
              font-size: 16px;
              color: #323232;
            }

            .feature-box__list__item__info__desc {
              margin: 16px 0 0;
              line-height: 20px;
            }

          }
        }
      }
    }
  }
}

.reviews-section {
  .wrap-box {
    max-width: 950px;
    padding: 65px 0;

    .social-nav {
      margin: 0 auto 0;
      padding: 0 0 0;

      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 800px;

      .social-nav__item {
        display: flex;
        flex-direction: column;

        .social-nav__item__link {
          height: 50px;
          background: red;
          font-size: 21px;
          line-height: 50px;
          text-align: center;
          text-decoration: none;
          border-radius: 4px;

          &.social-nav__item__link__github {
            background: #f3f3f3 url("../img/github_icon.png") no-repeat 20px center;
            color: #000;
          }
          &.social-nav__item__link__twitter {
            background: #26a6d1 url("../img/twitter_icon.png") no-repeat 20px center;
            color: #fff;
          }
          &.social-nav__item__link__facebook {
            background: #3b5998 url("../img/facebook_icon.png") no-repeat 20px center;
            color: #fff;
          }
        }

        .social-nav__item_followers {
          text-align: center;
          margin-top: 15px;
        }
      }
    }

    .slider {
      max-width: 800px;
      margin: 0px auto;
      padding: 0 40px;
      box-sizing: border-box;

      .slider-item {
        align-items: center;
        display: flex;
        flex-direction: column;

        .slider-item__title {
          display: flex;
          align-items: center;

          .slider-item__name {
            font-size: 24px;
            font-weight: bold;
            color: $secondary-color;
            margin-left: 25px;

            .slider-item__name__tag {
              font-size: 16px;
              color: $primary-color;
              font-weight: normal;
            }
          }
        }

        .slider-item__review {
          text-align: center;
          font-size: 16px;
          color: #333;
          line-height: 24px;

          .slider-item__review_tag {
            color: $primary-color;
          }
        }

        .slider-item__date {
          font-size: 16px;
          margin-bottom: 0;
        }
      }

      .slick-prev:before {
        background: url("../img/prev_icon.png") no-repeat center center;
        color: transparent;
      }
      .slick-next:before {
        background: url("../img/next_icon.png") no-repeat center center;
        color: transparent;
      }

    }
  }
}

.callback-section {
  background-color: #f4f4f4;

  .callback-box {
    .callback-box__title {
      font-weight: bold;
      margin: 0;
      padding: 0;
      color: $secondary-color;
    }
    .callback-box__form {
      .callback-box__form__field {
        margin: 0;
        padding: 0;
        border: 0;
        height: 42px;
        line-height: 42px;
        color: #c8cbcf;
        background: #fff;
        border-radius: 42px;
        font-size: 14px;
        text-indent: 25px;

        &::placeholder {
          color: #c8cbcf;
        }
      }

      .callback-box__form__button {
        margin: 0;
        padding: 0;
        border: 0;
        height: 42px;
        line-height: 42px;
        color: #fff;
        background: $primary-color;
        border-radius: 42px;
        font-size: 13px;
        text-transform: uppercase;
        max-width: 140px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

footer {
  .footer-box-about {
    .footer-box-about__title {
      margin: 0 0 25px 0;
      color: #333;
      text-transform: uppercase;
      font-size: 24px;

      .footer-box-about__io {
        color: $primary-color;
      }
    }
    .footer-box-about__desc {
      margin: 0;
      line-height: 20px;
    }
  }

  .footer-box-nav {
    .footer-box-nav__title {
      color: #323232;
      font-size: 16px;
      margin: 0 0 25px 0;
    }

    .footer-box-nav__list {
      margin: 0px;
      padding: 0px;
      list-style: none;

      .footer-box-nav__list__item {
        margin-bottom: 12px;

        .footer-box-nav__list__li__link {
          text-decoration: none;
          color: $primary-color;
          &:hover {
            color: #564978;
          }
        }
      }
    }
  }

  .footer-box-info {
    .footer-box-info__title {
      color: #323232;
      font-size: 16px;
      margin: 0 0 25px 0;
    }
    .footer-box-info__desc {
      margin: 0;
      line-height: 20px;
    }
  }

  .footer-box-contact {
    .footer-box-contact__phone {
      margin-bottom: 35px;

      .footer-box-contact__phone__numbers {
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #3f3f3f;
      }
      .footer-box-contact__phone__time {
        font-size: 12px;
        text-transform: uppercase;
        color: #848e97;
        margin: 0;
      }
    }
    .footer-box-contact__address {
      .footer-box-contact__address__city {
        font-size: 16px;
        color: #323232;
        margin: 0 0 10px 0;
      }
      .footer-box-contact__address__location {
        margin: 0;
        line-height: 20px;
      }
    }
  }
}
