@media (min-width: 993px) {

  .phone-view {
    display: none;
  }
  .desktop-view {
    display: block;
  }

  .features-section {
    .wrap-box {
      padding: 85px 0 40px;
      flex-direction: row;

      .feature-box {
        width: 50%;

        .feature-box__title {
          font-size: 42px;
          margin-bottom: 50px;
          text-align: center;
        }

        .feature-box__list {
          .feature-box__list__item {
            flex-direction: row;
            .feature-box__list__item__icon {
              width: 25%;
            }
            .feature-box__list__item__info {
              width: 75%;
              .feature-box__list__item__info__title {
              }
              .feature-box__list__item__info__desc {
              }
            }
          }
        }
      }

      .feature-promo {
        min-height: 520px;
        width: 50%;

        .feature-promo__title {
          position: absolute;
          top: 75px;
          right: 0;
          width: 630px;
          text-indent: 20px;
          font-size: 48px;
          color: $primary-color;
          margin: 0;
          padding: 0;
        }

        .feature-promo__image {
          position: absolute;
          right: 0px;
          width: 630px;
          top: 140px;
        }

      }
    }
  }
 
  .reviews-section {
    .wrap-box {
      .social-nav {
        flex-direction: row;
        padding-top: 60px;
        margin-top: 65px;
        border-top: 1px solid #f4f4f4;
        flex-wrap: wrap;
        justify-content: space-around;

        .social-nav__item {
          width: 240px;
        }
      }

      .slider {
        .slider-item {
          .slider-item__review {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }

    }
  }

  .callback-section {
    .wrap-box {
      padding: 45px 0;
    }
    .callback-box {

      display: flex;
      justify-content: space-between;
      align-items: center;

      .callback-box__title {
        font-size: 30px;
      }
      .callback-box__form {
        display: flex;
        width: 75%;
        justify-content: flex-end;

        .callback-box__form__field {
          max-width: 335px;
          width: 100%;
          box-sizing: border-box;
          margin-right: 20px;
        }
      }
    }
  }

  footer {
    .wrap-box {
      padding: 60px 0;
      display: flex;
    }

    .footer-box-about {
      .footer-box-about__title {
        background: url("../img/footer_logo.png") no-repeat left center;
        padding: 10px 0 10px 60px;
      }
    }

    .footer-box-about {
      width: 35%;
      padding-right: 5%;
      box-sizing: border-box;
    }

    .footer-box-nav {
      width: 15%;
    }

    .footer-box-contact {
      width: 25%;
    }

    .footer-box-info {
      width: 25%;
    }
  }
  
}

@media (min-width: 994px) and (max-width: 1100px) {

  .features-section {
    .wrap-box {
      .feature-box {
        width: 38%;
      }
    }
  }

}

@media (min-width: 1101px) and (max-width: 1250px) {
  
  .features-section {
    .wrap-box {
      .feature-box {
        width: 45%;
      }
    }
  }
 
}

@media (min-width: 1251px) {

  .features-section {
    .wrap-box {
      .feature-box {
        width: 50%;
      }
    }
  }

}