@font-face {
    font-family: 'Arimo';
    src: url(../fonts/'hinted-Arimo-Regular.eot');
    src: local('Arimo Regular'), local('Arimo-Regular'),
        url(../fonts/'hinted-Arimo-Regular.eot?#iefix') format('embedded-opentype'),
        url(../fonts/'hinted-Arimo-Regular.woff2') format('woff2'),
        url(../fonts/'hinted-Arimo-Regular.woff') format('woff'),
        url(../fonts/'hinted-Arimo-Regular.ttf') format('truetype'),
        url(../fonts/'hinted-Arimo-Regular.svg#Arimo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url(../fonts/'hinted-Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
        url(../fonts/'hinted-Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url(../fonts/'hinted-Arimo-Bold.woff2') format('woff2'),
        url(../fonts/'hinted-Arimo-Bold.woff') format('woff'),
        url(../fonts/'hinted-Arimo-Bold.ttf') format('truetype'),
        url(../fonts/'hinted-Arimo-Bold.svg#Arimo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}