﻿
.fon {
    background: url(background.png);
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    font-family: Verdana;
}
.div1{
    width:80%;
    margin:0 auto;
    height:100%;
}

.lefttimg {
    float: left;
    width: 46px;
    height: 44px;
    margin-right: 10px;
}
.div{
    text-transform: uppercase;
    position: relative;
    top: 50px;
    width: 180px;
    display: inline-block;
}
.text {
    color: #f26522;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    word-spacing: 10px;
}
.text2 {
    color: #f26522;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
}
.div3{
    float:right;
    height:90px;
    position:relative;
    top:9px;
}
.text3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    position:relative;
    top:25px;
  
}
.nomber {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    position:relative;
    left:74px;
}
.div4 {
    width: 115%;
    position: relative;
    top: 55px;
    clear: both;
    height: 82%;
}
.border {
    border: 2px solid;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 17px 24px 0px #000000;
    width: 312px;
    height: 205px;
    position: relative;
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 9;
}
.border2 {
    border: 2px solid;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 17px 24px 0px #000000;
    width: 312px;
    height: 205px;
    position: relative;
    top: 50px;
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 9;
}
.menu {
    float: left;
    margin-right: 5%;
    width: 26%;
    height: 500px;
    box-sizing: border-box;
    display:inline-block;
}
.menu2 {
    float: left;
    margin-right: 5%;
    height: 500px;
    box-sizing: border-box;
    width: 26%;
}
.menu3 {
    float: left;
    margin-right: 5%;
    width: 20%;
    height: 500px;
    box-sizing: border-box;
}
.text4{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    position:relative;
    left:90px;
    top:20px;
}
a{
    text-decoration:none;
}
.footer {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.text4:hover {
    color: #f26522;
}
.cont {
    position: absolute;
    background-color: #437241;
    width: 143px;
    font-size: 11px;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    margin: 0;
    left: 0;
    right: 0;
    top: 122px;
    line-height: 22px;
    /* border-radius: 0 0 1px 1px; */
    background-color: #000;
    background-color: rgba(29,32,34,.7);
    opacity: 0.5;
}
